<template name="createDebate">
  <form role="form">
    <div class="form-group">
      <label for="inputTitle">Title</label>
      <input type="text" class="form-control" id="inputTitle" placeholder="Title">
    </div>
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <textarea type="text" class="form-control" id="inputDescription" placeholder="Description" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="inputUrl">Url</label>
      <input type="text" class="form-control" id="inputUrl" placeholder="Url">
    </div>
    <button type="submit" class="btn btn-default" id="btnAddDebate">Submit</button>
  </form>
</template>