.grid-node {
  padding: 10px 10px 0 0;
}

.debate {
  padding: 25px;
  background: #f2f2f2;

  min-height: 145px;

  line-height: 20px;
  font-size: 18px;
  font-weight: bold;

  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.debate a:hover,
.debate a:active {
  text-decoration: none;
}

.new.debate {
  padding: 0;
  background: transparent;
  text-align: center;

  border: 1px solid #f2f2f2;
}

.new.debate a {
  line-height: 110px;
  font-size: 150px;
}
