<template name="readDebate">
<div class="page-header">
  <h1>{{title}}</h1>
  <p class="pull-right"><a href="{{url}}" target="blank"><span class="glyphicon glyphicon-link"></span> {{url}}</a></p>
  <p>{{description}}</p>
</div>
{{#if currentUser}}
  <div>
    <label class="sr-only" for="new-point">New Point</label>
    <input type="email" id="new-point" class="form-control" placeholder="Enter a point.">
  </div>
{{/if}}
{{>comment}}
</template>

<template name="comment">
  {{#if text}}
    <div class="comment-{{pointEvaluation}}">
      <div class="btn-group btn-group-xs">
          {{#if pointEvaluation}}
            {{#if pro}}
              <span class="label label-success">Pro</span>
            {{else}}
              <span class="label label-danger">Con</span>
            {{/if}}
          {{else}}
            {{#if pro}}
             <button type="button" class="btn btn-default dropdown-toggle btn-success" data-toggle="dropdown">
              Pro<span class="caret"></span>
             </button>
            {{else}}
              {{#if con}}
                <button type="button" class="btn btn-default dropdown-toggle btn-danger" data-toggle="dropdown">
                  Con<span class="caret"></span>
                </button>
              {{/if}}
            {{/if}}
          {{/if}}
            
        <ul class="dropdown-menu" role="menu">
          <li><a class="btn-refute">Refute</a></li>
        </ul>
      </div>
      
      {{text}}
      {{#if currentUser}}
        {{#unless editing}}
          <a href><span class="glyphicon glyphicon-comment text-primary add-comment"></span></a>
        {{/unless}}
      {{/if}}
    </div>
    <div class="comment-wrap">
      {{#if editing}}
        {{>editingComment}}
      {{/if}}
    </div>
  {{/if}}
  <div>
		<ul>
    	{{#each commentHelper _id}}
				<li class="comment">{{>comment}}</li>
    	{{/each}}
		</ul>
  </div>
</template>

<template name="editingComment">
  <div class="input-group edit-comment">
    <div class="input-group-addon">
          <input type="checkbox" id="point-type" data-on-text="Pro" data-off-text="Con" data-on-color="success" data-off-color="danger" data-size="mini" checked  />
    </div>
    <input id="comment-input" class="form-control" type="text" />
  </div>
</template>
