<template name="readDebate">
<div class="page-header">
  <h1>{{title}}</h1>
  <p class="pull-right"><a href="{{url}}"><span class="glyphicon glyphicon-link"></span> {{url}}</a></p>
  <p>{{description}}</p>
</div>
{{list points}}

{{>comment}}
</template>

<template name="comment">
  {{#if text}}
    <div>
      {{#if pro}}
        <span class="label label-success">Pro</span>
      {{else}}
        {{#if con}}
          <span class="label label-danger">Con</span>
        {{/if}}
      {{/if}}
      {{text}}
      {{#if currentUser}}
        {{#unless editing}}
          <span class="glyphicon glyphicon-comment text-primary add-comment"></span>
        {{/unless}}
      {{/if}}
    </div>
    <div class="comment-wrap">
      {{#if editing}}
        {{>editingComment}}
      {{/if}}
    </div>
  {{/if}}
  <div>
		<ul>
    	{{#each commentHelper _id}}
				<li>{{>comment}}</li>
    	{{/each}}
		</ul>
  </div>
</template>

<template name="editingComment">
  <div class="input-group">
    <div class="input-group-addon">
          <input type="checkbox" id="evaluation" data-on-text="Pro" data-off-text="Con" data-on-color="success" data-off-color="danger" data-size="mini" checked  />
    </div>
    <input id="comment-input" class="form-control" type="text" />
  </div>
</template>
