<template name="readDebate">
<div class="page-header">
  <h1>{{title}}</h1>
  <p class="pull-right"><a href="{{url}}"><span class="glyphicon glyphicon-link"></span> {{url}}</a></p>
  <p>{{description}}</p>
</div>
{{list points}}


<p>
  <button type="button" id="btnAddComment" class="btn btn-lg btn-default">Click Me!</button>
</p>
{{>comment}}
</template>

<template name="comment">
  {{#if text}}
    <div>
      {{text}}
      {{#unless editing}}
        <span class="glyphicon glyphicon-comment text-primary add-comment"></span>
      {{/unless}}
    </div>
    <div class="comment-wrap">
      {{#if editing}}
        {{>editingComment}}
      {{/if}}
    </div>
  {{/if}}
  <div>
		<ul>
    	{{#each commentHelper _id}}
				<li>{{>comment}}</li>
    	{{/each}}
		</ul>
  </div>
</template>

<template name="editingComment">
  <input id="comment-input" type="text" />
</template>
